* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
  width: 80%;
  margin: 0 auto;
  background: rgb(251, 254, 255);
}

.all_news {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.news {
  width: min(80%, 400px);
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 10px;
}

.news_title {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.head_text {
  margin-top: 30px;
}

.news_desc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 10px;
}

.news_author {
  margin-right: 10px;
  color: purple;
}

.news_published {
  margin-right: 10px;
}

.news_source,
.news_published {
  display: inline-block;
  margin-top: 10px;
  color: rgb(122, 122, 122);
}
